// grid
$grid-font-size: 16px;
$grid-column: 60px;
$grid-gutter: 20px;

// font
$title-size: .9375em;
$font-family: 'Ubuntu', sans-serif;

// colors
$white: #fff;
$text: #777777;
$active: #f5223b;
$grey: #bbbbbb;
$dark_grey: #383838;
$red: #f5223b;