/* Write your CSS! */

/* @include normalize */

@import "variables";
@import "grid";

html {
  height: 100%;
}

body {

}

/* create 5 column fixed layout */
@include breakpoint(5) {}

/* create 8 column layout with sidebar */
@include breakpoint(8, $label: 'tablet') {
  .main { width: fixed(5); }
  .sidebar { width: fixed(3); }
}

/* create 12 column layout with sidebar */
@include breakpoint(12, $label: 'desktop') {
  .main { width: fixed(8); }
  .sidebar { width: fixed(4); }
}


.kris0 {background: $shade0;}
.kris1 {background: $shade1;}
.kris2 {background: $shade2;}
.kris3 {background: $shade3;}
.kris4 {background: $shade4;}
.kris5 {background: $shade5;}
.kris6 {background: $shade6;}
.kris7 {background: $shade7;}
.kris8 {background: $shade8;}
.kris9 {background: $shade9;}