/* Write your CSS! */

/* @include normalize */

@import "variables";
@import "grid";

html {
  height: 100%;
}

body {

}

/* create 5 column fixed layout */
@include breakpoint(5) {}

/* create 8 column layout with sidebar */
@include breakpoint(8, $label: 'tablet') {
  .main { width: fixed(5); }
  .sidebar { width: fixed(3); }
}

/* create 12 column layout with sidebar */
@include breakpoint(12, $label: 'desktop') {
  .main { width: fixed(8); }
  .sidebar { width: fixed(4); }
}